SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
DATABASE_URI=sqlite:///your-database-path
FLASK_DEBUG=1
FRONTEND_ORIGIN=http://localhost:3000