MYSQL_DB=
MYSQL_USER=
MYSQL_HOST=
MYSQL_PWD=
MYSQL_ROOT_PWD=
MYSQL_PORT=

DW_PORT=
# Dolt Workbench API url
DW_API_PORT=

APP_PORT=
APP_HASH_ROUND=
APP_SECRET=
APP_CLIENT_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
